name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target_arch: [ aarch64, arm, i686, x86_64 ]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build
        run: ./amper run -- ${{ matrix.target_arch }}

      - name: Save Packages
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v5
        with:
          name: packages-${{ matrix.target_arch }}
          path: './termux-packages-master/output'